/*!
* Quasar: Design System
*
* @author     Brendan Falkowski (http: //gravitydept.com)
* @copyright  Gravity Department. All rights reserved.
*/


// ==============================================
// Vars
// ==============================================

$c-body-background:   #FFF;

$c-header-background: #505868;
$c-header-link:       #FFFFFF;
$c-header-link-hover: #3498DB;

$c-subheader-background: #DCDDE1;

$c-footer-background: #DCDDE1;

// Components

$c-button:       #3498DB;
$c-button-hover: #2980B9;

$c-module-background:       #F4F4F4;
$c-module-background-hover: #E8E8E8;
$c-module-border:           #DCDDE1;

$c-pattern-disabled-background: #FFDDDD;

$c-heading-background: #505868;
$c-heading-link:       #3498DB;
$c-heading-link-hover: #2980B9;
$c-heading-text:       #FFFFFF;

$c-text-subtle: #B0B0B0;



// ==============================================
// Partials
// ==============================================

@import 'component/qq-reset';

@import 'layout/qq-global';
@import 'layout/qq-header';
@import 'layout/qq-subheader';
@import 'layout/qq-matter';
@import 'layout/qq-footer';

@import 'component/qq-button';
@import 'component/qq-cards';
@import 'component/qq-container';
@import 'component/qq-debug';
@import 'component/qq-heading';
@import 'component/qq-hero';
@import 'component/qq-pattern';
@import 'component/qq-pattern-groups';
@import 'component/qq-pattern-list';
@import 'component/qq-text';

@import 'vendor/prism';
