# Gravity Department - Design Docs
# https://github.com/gravitydepartment/design-docs
#
# @author    Brendan Falkowski
# @copyright Gravity Department. All rights reserved.


# ===============================================
# URL Rewrites
# ===============================================

RewriteEngine on

# -----------------------------------------------
# Use these rules if running from the domain root like:
# http://domain.com/

RewriteRule ^([a-z0-9_-]+)/?$                               /index.php?p1=$1
RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)/?$                 /index.php?p1=$1&p2=$2
RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)/([a-z0-9_-]+)/?$   /index.php?p1=$1&p2=$2&p3=$3

# -----------------------------------------------
# Use these rules if running from a sub-folder like:
# http://domain.com/design/

#RewriteRule ^([a-z0-9_-]+)/?$                               /design/index.php?p1=$1
#RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)/?$                 /design/index.php?p1=$1&p2=$2
#RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)/([a-z0-9_-]+)/?$   /design/index.php?p1=$1&p2=$2&p3=$3
