/**
* Quasar: Design System
*
* @author     Brendan Falkowski (http: //gravitydept.com)
* @copyright  Gravity Department. All rights reserved.
*/


// ==============================================
// Color - Layout
// ==============================================

$c-body-background:   #FFF;

$c-header-background: #505868;
$c-header-link:       #FFFFFF;
$c-header-link-hover: #3498DB;

$c-subheader-background: #DCDDE1;

$c-footer-background: #DCDDE1;


// ==============================================
// Color - Component
// ==============================================

$c-button:       #3498DB;
$c-button-hover: #2980B9;

$c-module-background:       #F4F4F4;
$c-module-background-hover: #E8E8E8;
$c-module-border:           #DCDDE1;

$c-pattern-disabled-background: #FFDDDD;

$c-heading-background: #505868;
$c-heading-link:       #3498DB;
$c-heading-link-hover: #2980B9;
$c-heading-text:       #FFFFFF;

$c-text-subtle: #B0B0B0;
