/**
* Quasar: Design System
*
* @author     Brendan Falkowski (http: //gravitydept.com)
* @copyright  Gravity Department. All rights reserved.
*/


// ==============================================
// QQ Text
// ==============================================


// ----------------------------------------------
// Code

.qq-text code {
    font-size: 14px;
}


// ----------------------------------------------
// Ordered List

.qq-text ol {
    list-style: decimal outside;
    margin-bottom: 1.5em;
}

.qq-text ol li {
    margin-left: 2em;
}


// ----------------------------------------------
// Paragraph

.qq-text p {
    margin-bottom: 1.5em;
}


// ----------------------------------------------
// Unordered List

.qq-text ul {
    list-style: disc outside;
    margin-bottom: 1.5em;
}

.qq-text ul li {
    margin-left: 2em;
}


// ----------------------------------------------
// Table

.qq-text table {
    margin-bottom: 1.5em;
    border: 1px solid $c-module-border;
    font-size: 14px;
}

.qq-text th {
    background: $c-module-background;
}

.qq-text td,
.qq-text th {
    padding: 8px;
    border: 1px solid $c-module-border;
}
