/**
* Gravity Department - Design Docs
* https://github.com/gravitydepartment/design-docs
*
* @author     Brendan Falkowski
* @copyright  Gravity Department. All rights reserved.
*/


// ==============================================
// DD Pattern
// ==============================================

.dd-pattern {
    margin-bottom: 4em;
}

.dd-pattern_end {
    width: 200px;
    padding: 0.5em 0;
    border-top: 1px solid $c-module-border;
    color: $c-text-subtle;
    font-size: 11px;
    text-transform: uppercase;
}


// ==============================================
// DD Pattern Disabled
// ==============================================

.dd-pattern-disabled {
    padding: 15px;
    border-radius: 2px;
    background: $c-pattern-disabled-background;
}


// ==============================================
// DD Pattern Docs
// ==============================================

.dd-pattern-docs {
    overflow: hidden;
    padding: 0 20px;
}

// ----------------------------------------------

@media (min-width: 1200px) {

    .dd-pattern-docs_column {
        float: left;
    }

    .dd-pattern-docs_column:nth-child(1) {
        width: 40%;
        padding-right: 15px;
    }

    .dd-pattern-docs_column:nth-child(2) {
        width: 60%;
        padding-left: 15px;
    }

}


// ==============================================
// DD Pattern Description
// ==============================================

//.dd-pattern-description {}


// ==============================================
// DD Pattern Code
// ==============================================

.dd-pattern-code {
    margin: 30px 0;
}
