/**
* Gravity Department - Design Docs
* https://github.com/gravitydepartment/design-docs
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// DD Button
// ==============================================

.dd-button {
    padding: 0 1em;
    border: 0;
    border-radius: 3px;
    background: $c-button;
    color: #FFF;
    line-height: 32px;

    &:hover {
        background: $c-button-hover;
    }
}
