/**
* Gravity Department - Design Docs
* https://github.com/gravitydepartment/design-docs
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// DD Pattern Group
// ==============================================

.dd-pattern-group {
    overflow: hidden;
    margin-bottom: 2.5em;
}


// ==============================================
// DD Pattern Group - Item
// ==============================================

.dd-pattern-group_item {
    &:first-child {
        border-top: 1px solid $c-module-border;
    }
}

.dd-pattern-group_item[data-pattern-enabled='0'] {
    opacity: 0.4;
}


// ==============================================
// DD Pattern Group - Link
// ==============================================

.dd-pattern-group_link {
    display: block;
    padding: 7px 10px;
    border-bottom: 1px solid $c-module-border;
    background: $c-module-background;
    font-size: 15px;

    &:hover {
        background: $c-module-background-hover;
    }
}
