/**
* Gravity Department - Design Docs
* https://github.com/gravitydepartment/design-docs
*
* @author     Brendan Falkowski
* @copyright  Gravity Department. All rights reserved.
*/


// ==============================================
// DD Hero
// ==============================================

.dd-hero {
    margin: 3em auto 4em;
    text-align: center;
}

.dd-hero_title {
    margin-bottom: 0.3em;
    font-size: 28px;
}

// ----------------------------------------------

@media (min-width: 600px) {

    .dd-hero_title {
        font-size: 40px;
    }

    .dd-hero p {
        font-size: 22px;
    }

}

// ----------------------------------------------

@media (min-width: 1000px) {

    .dd-hero_title {
        font-size: 60px;
    }

    .dd-hero p {
        font-size: 28px;
    }
}
