/**
* Gravity Department - Design Docs
* https://github.com/gravitydepartment/design-docs
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// DD Text
// ==============================================

// ----------------------------------------------
// Code

.dd-text code {
    font-size: 14px;
}

// ----------------------------------------------
// Ordered List

.dd-text ol {
    list-style: decimal outside;
    margin-bottom: 1.5em;
}

.dd-text ol li {
    margin-left: 2em;
}

// ----------------------------------------------
// Paragraph

.dd-text p {
    margin-bottom: 1.5em;
}

// ----------------------------------------------
// Unordered List

.dd-text ul {
    list-style: disc outside;
    margin-bottom: 1.5em;
}

.dd-text ul li {
    margin-left: 2em;
}

// ----------------------------------------------
// Table

.dd-text table {
    margin-bottom: 1.5em;
    border: 1px solid $c-module-border;
    font-size: 14px;
}

.dd-text th {
    background: $c-module-background;
}

.dd-text td,
.dd-text th {
    padding: 8px;
    border: 1px solid $c-module-border;
}
