/**
* Gravity Department - Design Docs
* https://github.com/gravitydepartment/design-docs
*
* @author     Brendan Falkowski
* @copyright  Gravity Department. All rights reserved.
*/


// ==============================================
// DD Heading
// ==============================================

.dd-heading {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
    padding: 0 15px;
    border-radius: 3px;
    background: $c-heading-background;
    color: $c-heading-text;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.dd-heading_action {
    float: left;
    margin-left: -15px;
    margin: 0 15px 0 -15px;
    padding: 0 12px;
    border: 0;
    background: $c-heading-link;
    color: $c-heading-text;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;

    &:hover {
        background: $c-heading-link-hover;
        color: $c-heading-text;
    }
}
