/**
* Quasar: Design System
*
* @author     Brendan Falkowski (http: //gravitydept.com)
* @copyright  Gravity Department. All rights reserved.
*/


// ==============================================
// QQ Pattern Group
// ==============================================

.qq-pattern-group {
    overflow: hidden;
    margin-bottom: 2.5em;
}


// ==============================================
// QQ Pattern Group - Item
// ==============================================

.qq-pattern-group_item {
    &:first-child {
        border-top: 1px solid $c-module-border;
    }
}

.qq-pattern-group_item[data-pattern-enabled='0'] {
    opacity: 0.4;
}


// ==============================================
// QQ Pattern Group - Link
// ==============================================

.qq-pattern-group_link {
    display: block;
    padding: 7px 10px;
    border-bottom: 1px solid $c-module-border;
    background: $c-module-background;
    font-size: 15px;

    &:hover {
        background: $c-module-background-hover;
    }
}
