/**
* Quasar: Design System
*
* @author     Brendan Falkowski (http: //gravitydept.com)
* @copyright  Gravity Department. All rights reserved.
*/


// ==============================================
// QQ Button
// ==============================================

.qq-button {
    padding: 0 1em;
    border: 0;
    border-radius: 3px;
    background: $c-button;
    color: #FFFFFF;
    line-height: 32px;

    &:hover {
        background: $c-button-hover;
    }
}
