/**
* Quasar: Design System
*
* @author     Brendan Falkowski (http: //gravitydept.com)
* @copyright  Gravity Department. All rights reserved.
*/


// ==============================================
// QQ Cards
// ==============================================

.qq-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.qq-cards_item {
    display: flex;
    width: 100%;
    padding: 0 15px 30px;
}

.qq-cards_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    padding: 15px;
    border: 1px solid $c-module-border;
    border-radius: 3px;
    background: $c-module-background;
}

.qq-cards_card > :last-child {
    margin-bottom: 0;
}

.qq-cards .button-group {
    margin-top: auto;
}

// ----------------------------------------------

@media all and (min-width: 500px) {

    .qq-cards_item {
        width: 50%;
    }

}

// ----------------------------------------------

@media all and (min-width: 800px) {

    .qq-cards_item {
        width: 33.33%;
    }

}

// ----------------------------------------------

@media all and (min-width: 1100px) {

    .qq-cards_item {
        width: 25%;
    }

}
