/**
* Gravity Department - Design Docs
* https://github.com/gravitydepartment/design-docs
*
* @author    Brendan Falkowski
* @copyright Gravity Department. All rights reserved.
*/


// ==============================================
// DD Subheader
// ==============================================

.dd-subheader {
    margin-bottom: 2.5em;
    padding: 10px 20px;
    background: $c-subheader-background;
    text-align: center;
}

.dd-subheader h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
