/**
* Quasar: Design System
*
* @author     Brendan Falkowski (http: //gravitydept.com)
* @copyright  Gravity Department. All rights reserved.
*/


// ==============================================
// QQ Subheader
// ==============================================

.qq-subheader {
    margin-bottom: 2.5em;
    padding: 10px 20px;
    background: $c-subheader-background;
    text-align: center;
}

.qq-subheader h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
